<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.powerstationmanagesystem.dao.RoleDao">

    <select id="selectPageRole" resultType="com.example.powerstationmanagesystem.entiy.Role">
        select * from sys_role
        <where>
            <if test="roleName != null and roleName != ''">
            role_name like concat('%', #{roleName}, '%')
            </if>
        </where>
    </select>
</mapper>